.blogs{
    .card{
        display: flex;
        flex-direction: column-reverse;
        @include desktop-grid{            
            display: grid;
            grid-template-columns: 1fr 1.3fr;
            gap: 7.5rem;
            
        }
        &:not(:first-of-type){
            @include desktop-grid{
               padding-top: 3.4rem; 
            }
        }
    }
}

.blog-info{
    p {
        font-size: 1.6rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.0rem;
          letter-spacing: 0rem;
          color: $colorBlog;
          margin-bottom: 3rem;
          &.blog-p{
              margin-bottom: 2rem;
              color: $plomo;
          }
          
    }
    a{
        color: $azul;
    }
    h2{
        margin-bottom: 2.6rem;
        width: 60%;
    }
}

.blog{
    picture{
        margin-bottom: 2rem;
    }
}
