.hobbies{    
    h2{
        margin-bottom: 2.6rem;
    }
    .hobby{
        picture{
            img{
                height: 14rem;
            }
        }
        h3{
            margin-top: 2.6rem;
        }
        h4{
            color: $plomo;
            font-weight: $medium;
            margin-top: 1rem;
            margin-bottom: 3.6rem;
        }
    }

}